@import "tailwindcss";

@layer utilities {
    .text-shadow {
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
}

html {
    scroll-behavior: smooth;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    font-family: 'Inter', system-ui, sans-serif;
    background-color: #0E0C4F;
    /* Deep Midnight Blue for initial background */
    color: #0E0C4F;
    overflow-x: hidden;
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #D5AD36, #00BFFF);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #f0c847, #00BFFF);
}