---
import "../styles/global.css";
import "flag-icons/css/flag-icons.min.css";
import IntroCover from "../components/IntroCover.jsx";
import MainContent from "../components/MainContent.astro";
import Navbar from "../components/Navbar.jsx";
import { ViewTransitions } from "astro:transitions";
import HeroBanner from "../components/HeroBanner";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <meta
      name="description"
      content="Doctor Dreams - Expert medical education consultancy. Study MBBS abroad in top universities."
    />
    <title>Doctor Destiny | Study MBBS Abroad Consultant</title>
    <ViewTransitions />
  </head>
  <body class="bg-[#0E0C4F] overflow-x-hidden">
    <main>
      <IntroCover client:load />

      <div class="relative z-10 mt-[100vh]">
        <HeroBanner />
        <MainContent />
      </div>
    </main>

    <!-- Navbar rendered last so it paints on top of IntroCover's stacking context -->
    <Navbar client:load />
  </body>
</html>
